body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    border: 0;
    background-color: grey;
}

*{
    box-sizing: border-box;
}

.navbar{
    overflow: hidden;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: row;   
}

.item{
    width: 25%;
    justify-content: center;
    text-align: center;
    height: 100px;
    float: left;
    background-color: grey;
   
}


.rodape{
    color:white;
}

.item:hover{
    background-color: #554640;
    transition: 0.8s;
}





.conteudo{
    overflow: hidden;
    border-top: 3px solid #CDE6F5;
    text-align: center;
    padding-top: 3%;
    float: left;
    padding-bottom: 1%;

}

.rodape1{
    
    text-align: center;
    color: black;
}

.rodape2{
    text-align: center;
    color: black;
}



.imagem{
    position: absolute;
    right: 0.5%;
}